/* 웹킷 기반 브라우저에서 스크롤바 스타일링 */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* 스크롤바의 너비 */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.2); /* 트랙의 배경색 */
    border-radius: 10px; /* 트랙의 모서리 둥글게 */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #FC819E; /* 핑크색 스크롤바 */
    border-radius: 10px; /* 스크롤바의 모서리 둥글게 */
    /* border: 2px solid rgba(255, 255, 255, 0.4); 스크롤바의 외부 경계 */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #FFB6C1; /* 스크롤바 위에 마우스를 올렸을 때 색상 변경 */
}

.app-container {
  display: flex; /* Flexbox로 부모 요소 설정 */
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: flex-start;
}

.Summary {
  display: flex; /* Flexbox로 좌우 아이템 정렬 */
  justify-content: space-evenly; /* 아이템 간 간격 유지 */
  align-items: flex-start; /* 위쪽으로 맞춤 */
  width: 80%; /* 화면 너비의 80% 차지 */
  flex-direction: column;
}

.custom-scrollbar {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 15px;
  padding: 20px;
  overflow-y: auto;
}

/* 왼쪽 회의록 리스트 */
.custom-scrollbar.left {
  width: 45%; /* 화면 너비의 45% 차지 */
  min-height: 600px;
  max-height: 600px;
  margin-right: 1rem;
}

/* 오른쪽 회의록 상세 보기 */
.custom-scrollbar.right {
  width: 45%; /* 화면 너비의 45% 차지 */
  min-height: 600px;
  max-height: 600px;
  position: relative; /* 하단 버튼 고정을 위한 상대 위치 */
}

/* PDF 다운로드 버튼을 하단에 고정 */
.custom-scrollbar.right .download-btn {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: end;
  align-items: center;
}

.summary-title {
  color: #F7418F;
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.summary-list-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}